/* FOOTER */
.footer {
    width: 1360px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 16px;
    background: var(--main-text-color);
}

.address-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 10px;
}

.address-link {
    fill: var(--main-wight-color);
}

.address-link:hover,
.address-link:focus {
    fill: var(--secondary-green-color);
}

.footer-text {
    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    text-align: center;
}