.command-container {
  display: block;
  width: 320px;
  padding: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 768px;
  }

  @media screen and (min-width: 1360px) {
    display: flex;
    width: 1360px;
  }
}
.command {
  width: 320px;
  margin: 0 auto;
  background-color: var(--secondary-green-color);
  color: var(--main-wight-color);

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1360px) {
    width: 1360px;
  }
}

.command__img {
  display: block;
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 384px;
  }

  @media screen and (min-width: 1360px) {
    width: 680px;
  }
}
.command__description {
  padding: 30px 0;
  margin-right: 0;
  margin-left: 30px;
  @media screen and (min-width: 1360px) {
    padding: 84px 0;
    margin-left: 30px;
  }
}

.command__text-first {
  font-size: 18px;
  line-height: 1.22;
  margin-top: 0;
  margin-bottom: 5px;
  width: 215px;
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 237px;
  }
}
.command__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.27;
  margin-top: 0px;
  margin-bottom: 25px;
  width: 204px;
  @media screen and (min-width: 1360px) {
    margin-bottom: 26px;
    width: 541px;
  }
}
.command__text-second {
  font-size: 16px;
  line-height: 1.15;
  width: 260px;
  margin-top: 0px;
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    width: 315px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1360px) {
    margin-bottom: 17px;
    width: 606px;
  }
}
.command__button {
  display: block;
  font-size: 16px;
  font-style: inherit;
  color: var(--main-wight-color);
  background-color: var(--secondary-green-color);
  padding: 10px 31px 11px 41px;
  border: 1px solid var(--main-wight-color);
  line-height: 1.17;
  border-radius: 5px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.15;
    width: 167px;
    height: 50px;
    padding: 11px 31px 10px 42px;
  }

  @media screen and (min-width: 1360px) {
    padding: 11px 27px 12px 42px;
  }
  &:hover {
    color: var(--secondary-green-color);
    background-color: var(--main-wight-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}
}
