.navigation {
    display: flex;
    align-items: center;
    margin-right: 46px;
    margin-left: 52px;
}

.logo-first {
    display: flex;
    align-items: center;
    color: var(--secondary-green-color);
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

.logo-second {
    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

.header-icon {
    margin-right: 10px;
}

.nav-list {
    display: flex;
    margin-left: auto;
    gap: 38px;
}

.nav-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;

        &:hover, &:focus {
            text-decoration: underline;
        }
}