.header {
    padding-top: 21px;
    padding-right: 20px;
    padding-left: 20px;
    @media screen  and (min-width:768px){
        padding-top: 17px;
        padding-right: 38px;
        padding-left: 40px;
    }
    @media screen  and (min-width:1360px){
        padding-top: 21px;
        padding-right: 46px;
        padding-left: 52px;
    }
}
.navigation {
    @media screen and (min-width:320px) {
    display: flex;
    flex-direction: column;
    }
    @media screen and (min-width:768px){
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
}
.logo-wrapper {
    @media screen and (min-width:768px) {
        margin-right: auto;
    }
}
.logo-first {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-green-color);
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

.logo-second {
    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 32px;
    line-height: calc(42/32);
}

.header-icon {
    margin-right: 10px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    @media screen and (min-width:768px) {
        gap: 18px;
    }
    @media screen and (min-width:1360px) {
        gap: 18px;
        margin-left: auto;
    }
}

.nav-link {
    display: block;
    padding-top: 12px;

    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26/16);
    @media screen and (min-width:768px) {
        font-size: 18px;
        line-height: 1.55;
    }
        &:hover, &:focus {
            text-decoration: underline;
        }
}