.header {
    padding-top: 20px;
}
.navigation {
    display: flex;
    flex-direction: column;
    @media screen and (min-width:768px){
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 65px;
    }
}

.logo-first {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-green-color);
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

.logo-second {
    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
}

.header-icon {
    margin-right: 10px;
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 12px;
    @media screen and (min-width:768px) {
        gap: 38px;
    }
}

.nav-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--main-wight-color);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26/16);
    @media screen and (min-width:768px) {
        font-size: 18px;
        line-height: 1.55;
    }

        &:hover, &:focus {
            text-decoration: underline;
        }
}