.background {
  max-width: 1360px;
  height: 768px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--secondary-green-color);
  background-image: var(--gradient-hero),
      url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  padding-top: 210px;
  padding-bottom: 280px;
  
  text-align: center;
}

.hero-title {
  margin-bottom: 25px;

  color: var(--hero-text-color);
  font-weight: 300;
  font-size: 55px;
  line-height: calc(66 / 55);
}

.hero-text {
  margin-bottom: 29px;

  font-weight: 400;
  font-size: 22px;
  line-height: calc(37 / 22);
  color: var(--hero-text-color);

}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  

  color: var(--main-wight-color);
  fill: var(--main-wight-color);
  background: var(--secondary-green-color);
  border: var(--secondary-green-color);
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);

    &:hover, &:focus {
      background-color: var(--main-wight-color);
      fill: var(--secondary-green-color);
      color: var(--secondary-green-color);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}