.team {
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1360px;
  }
}

.team__subtitle {
  margin-bottom: 16px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.65;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.team__title {
  display: inline-block;
  margin-bottom: 34px;
  width: 220px;

  font-size: 38px;
  font-weight: 300;
  line-height: 1.26;
  @media screen and (min-width: 768px) {
    width: 410px;
  }
}

.team__text {
  margin-bottom: 37px;

  font-size: 18px;
  line-height: 1.55;

  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
  }
}

.team__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    align-items: center;
    flex-direction: row;
  }
}

.team-icons__thumb {
  @media screen and (min-width: 1200px) {
    position: relative;
  }
}

.team-icons__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  gap: 25px;

  align-items: center;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.team__item {
  @media screen and (max-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.team-icons__icon {
  fill: var(--main-wight-color);

  &:hover {
    fill: var(--secondary-green-color);
  }
}

.team__img {
  display: block;

  margin-bottom: 12px;
}

.team__name {
  margin-bottom: 12px;

  font-size: 25px;
  font-weight: 400;
  line-height: 1.28;

  @media screen and (max-width: 768px) {
    margin-top: 15px;
  }
}

.team__position {
  font-size: 18px;
  line-height: 1.55;
}
