<section id="blog" class="blog-section">
  <div class="blog-section__container">
    <div class="blog-section__content">
      <h2 class="blog-section__title">
        <time class="blog-section__date" datetime="2020-04-16"
          >April 16 2020</time
        >
      </h2>
      <span class="blog-section__subtitle">Blog post one</span>
      <p class="blog-section__text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button class="blog-section__button" type="button">Read our blog</button>
    </div>
    <picture>
      <source
        srcset="
          ./images/mobile/cup-of-coffee.jpg    1x,
          ./images/mobile/cup-of-coffee@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./images/tablet/cup-of-coffee.jpg    1x,
          ./images/tablet/cup-of-coffee@2x.jpg 2x
        "
        media="(max-width: 1359px)"
      />
      <source
        srcset="./images/cup-of-coffee.jpg 1x, ./images/cup-of-coffee@2x.jpg 2x"
        media="(min-width: 1360px)"
      />
      <img
        class="blog-section__img"
        src="./images/cup-of-coffee.jpg"
        alt="a notebook, a cup of coffee and a tablet"
      />
    </picture>
  </div>
</section>
