<section id="cases" class="cases">
  <div class="container">
    <h2 class="cases__title">This is what we do</h2>
    <span class="cases__subtitle">Business cases</span>
    <p class="cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases__list list gallery">
      <li class="cases__item">
        <a href="./images/case@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case.jpg"
            alt="brainstorm"
            width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-2@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case-2.jpg"
            alt="processing of statistical data"
            width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-3@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case-3.jpg"
            alt="successful interview"
            width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-4@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case-4.jpg"
            alt="team success"
            width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-5@2x.jpg">
          <img src="./images/case-5.jpg" alt="laptop work" width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-6@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case-6.jpg"
            alt="three kyscrapers"
            width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-7@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case-7.jpg"
            alt="curly-haired woman with glasses - leader"
            width="320"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-8@2x.jpg"
          ><img
            class="cases__img"
            src="./images/case-8.jpg"
            alt="smiling woman in blue jacket"
            width="320"
        /></a>
      </li>
    </ul>
  </div>
</section>
