<section id="cases" class="cases">
  <div class="container">
    <h2 class="cases__title">This is what we do</h2>
    <span class="cases__subtitle">Business cases</span>
    <p class="cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases__list list gallery">
      <li class="cases__item">
        <a href="./images/case@2x.jpg">
          <img
            srcset="
              ./images/mobile/case.jpg    264w,
              ./images/mobile/case@2x.jpg 528w,
              ./images/tablet/case.jpg    172w,
              ./images/tablet/case@2x.jpg 344w,
              ./images/case.jpg           320w,
              ./images/case@2x.jpg        640w
            "
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
            class="cases__img"
            src="./images/case.jpg"
            alt="brainstorm"
          />
        </a>
      </li>
      <li class="cases__item">
        <a href="./images/case-2@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-2.jpg    264w,
              ./images/mobile/case-2@2x.jpg 528w,
              ./images/tablet/case-2.jpg    172w,
              ./images/tablet/case-2@2x.jpg 344w,
              ./images/case-2.jpg           320w,
              ./images/case-2@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-2.jpg"
            alt="processing of statistical data"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
          />
        </a>
      </li>
      <li class="cases__item">
        <a href="./images/case-3@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-3.jpg    264w,
              ./images/mobile/case-3@2x.jpg 528w,
              ./images/tablet/case-3.jpg    172w,
              ./images/tablet/case-3@2x.jpg 344w,
              ./images/case-3.jpg           320w,
              ./images/case-3@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-3.jpg"
            alt="successful interview"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-4@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-4.jpg    264w,
              ./images/mobile/case-4@2x.jpg 528w,
              ./images/tablet/case-4.jpg    172w,
              ./images/tablet/case-4@2x.jpg 344w,
              ./images/case-4.jpg           320w,
              ./images/case-4@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-4.jpg"
            alt="team success"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-5@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-5.jpg    264w,
              ./images/mobile/case-5@2x.jpg 528w,
              ./images/tablet/case-5.jpg    172w,
              ./images/tablet/case-5@2x.jpg 344w,
              ./images/case-5.jpg           320w,
              ./images/case-5@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-5.jpg"
            alt="laptop work"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-6@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-6.jpg    264w,
              ./images/mobile/case-6@2x.jpg 528w,
              ./images/tablet/case-6.jpg    172w,
              ./images/tablet/case-6@2x.jpg 344w,
              ./images/case-6.jpg           320w,
              ./images/case-6@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-6.jpg"
            alt="three kyscrapers"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
          />
        </a>
      </li>
      <li class="cases__item">
        <a href="./images/case-7@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-7.jpg    264w,
              ./images/mobile/case-7@2x.jpg 528w,
              ./images/tablet/case-7.jpg    172w,
              ./images/tablet/case-7@2x.jpg 344w,
              ./images/case-7.jpg           320w,
              ./images/case-7@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-7.jpg"
            alt="curly-haired woman with glasses - leader"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
        /></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-8@2x.jpg">
          <img
            srcset="
              ./images/mobile/case-8.jpg    264w,
              ./images/mobile/case-8@2x.jpg 528w,
              ./images/tablet/case-8.jpg    172w,
              ./images/tablet/case-8@2x.jpg 344w,
              ./images/case-8.jpg           320w,
              ./images/case-8@2x.jpg        640w
            "
            class="cases__img"
            src="./images/case-8.jpg"
            alt="smiling woman in blue jacket"
            sizes="(min-width: 1360px) 320px, (min-width: 768px) 172px, (min-width: 320px) 264px, 100vw"
        /></a>
      </li>
    </ul>
  </div>
</section>
