<section id="cases" class="cases">
  <div class="container">
    <h2 class="cases__title">This is what we do</h2>
    <span class="cases__subtitle">Business cases</span>
    <p class="cases__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases__list list gallery">
      <li class="cases__item">
        <a href="./images/case@2x.jpg">
          <picture>
            <source
              srcset="
                ./images/mobile/case.jpg    1x,
                ./images/mobile/case@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/case.jpg    1x,
                ./images/tablet/case@2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="./images/case.jpg 1x, ./images/case@2x.jpg 2x"
              media="(min-width: 1360px)"
            />
            <img
              class="cases__img"
              src="./images/case.jpg"
              alt="brainstorm"
              sizes="(min-width:768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="cases__item">
        <a href="./images/case-2@2x.jpg"
          ><picture>
            <source
              srcset="
                ./images/mobile/case-2.jpg    1x,
                ./images/mobile/case-2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/case-2.jpg    1x,
                ./images/tablet/case-2@2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="./images/case-2.jpg 1x, ./images/case-2@2x.jpg 2x"
              media="(min-width: 1360px)"
            />
            <img
              class="cases__img"
              src="./images/case-2.jpg"
              alt="processing of statistical data"
              sizes="(min-width:768px) 25vw, 100vw"
            /> </picture
        ></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-3@2x.jpg"
          ><picture>
            <source
              srcset="
                ./images/mobile/case-3.jpg    1x,
                ./images/mobile/case-3@2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <source
              srcset="
                ./images/tablet/case-3.jpg    1x,
                ./images/tablet/case-3@2x.jpg 2x
              "
              media="(max-width: 1359px)" />
            <source
              srcset="./images/case-3.jpg 1x, ./images/case-3@2x.jpg 2x"
              media="(min-width: 1360px)" />
            <img
              class="cases__img"
              src="./images/case-3.jpg"
              alt="successful interview"
              sizes="(min-width:768px) 25vw, 100vw" /></picture
        ></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-4@2x.jpg"
          ><picture>
            <source
              srcset="
                ./images/mobile/case-4.jpg    1x,
                ./images/mobile/case-4@2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <source
              srcset="
                ./images/tablet/case-4.jpg    1x,
                ./images/tablet/case-4@2x.jpg 2x
              "
              media="(max-width: 1359px)" />
            <source
              srcset="./images/case-4.jpg 1x, ./images/case-4@2x.jpg 2x"
              media="(min-width: 1360px)" />
            <img
              class="cases__img"
              src="./images/case-4.jpg"
              alt="team success"
              sizes="(min-width:768px) 25vw, 100vw" /></picture
        ></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-5@2x.jpg">
          <picture>
            <source
              srcset="
                ./images/mobile/case-5.jpg    1x,
                ./images/mobile/case-5@2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <source
              srcset="
                ./images/tablet/case-5.jpg    1x,
                ./images/tablet/case-5@2x.jpg 2x
              "
              media="(max-width: 1359px)" />
            <source
              srcset="./images/case-5.jpg 1x, ./images/case-5@2x.jpg 2x"
              media="(min-width: 1360px)" />
            <img
              src="./images/case-5.jpg"
              alt="laptop work"
              sizes="(min-width:768px) 25vw, 100vw" /></picture
        ></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-6@2x.jpg"
          ><picture>
            <source
              srcset="
                ./images/mobile/case-6.jpg    1x,
                ./images/mobile/case-6@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/case-6.jpg    1x,
                ./images/tablet/case-6@2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="./images/case-6.jpg 1x, ./images/case-6@2x.jpg 2x"
              media="(min-width: 1360px)"
            />
            <img
              class="cases__img"
              src="./images/case-6.jpg"
              alt="three kyscrapers"
              sizes="(min-width:768px) 25vw, 100vw"
            />
          </picture>
        </a>
      </li>
      <li class="cases__item">
        <a href="./images/case-7@2x.jpg"
          ><picture>
            <source
              srcset="
                ./images/mobile/case-7.jpg    1x,
                ./images/mobile/case-7@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./images/tablet/case-7.jpg    1x,
                ./images/tablet/case-7@2x.jpg 26
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="./images/case-7.jpg 1x, ./images/case-7@2x.jpg 2x"
              media="(min-width: 1360px)"
            />
            <img
              class="cases__img"
              src="./images/case-7.jpg"
              alt="curly-haired woman with glasses - leader"
              sizes="(min-width:768px) 25vw, 100vw"
            /> </picture
        ></a>
      </li>
      <li class="cases__item">
        <a href="./images/case-8@2x.jpg"
          ><picture>
            <source
              srcset="
                ./images/mobile/case-8.jpg    1x,
                ./images/mobile/case-8@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source7
              srcset="
                ./images/tablet/case-8.jpg    1x,
                ./images/tablet/case-8@2x.jpg 2x
              "
              media="(max-width: 1359px)"
            />
            <source
              srcset="./images/case-8.jpg 1x, ./images/case-8@2x.jpg 2x"
              media="(min-width: 1360px)"
            />
            <img
              class="cases__img"
              src="./images/case-8.jpg"
              alt="smiling woman in blue jacket"
              sizes="(min-width:768px) 25vw, 100vw"
            /> </picture
        ></a>
      </li>
    </ul>
  </div>
</section>
