<section class="request section">
  <div class="request__container">
    <img
      srcset="./images/request@2x.jpg 2x, ./images/request.jpg 1x"
      src="./images/request.jpg"
      alt="man is sitting at the table holding phone in right hand and looking at the screen of the laptop"
      width="680"
      class="request__image"
    />

    <div class="request-form-container">
      <h2 class="request__title">Request callback</h2>
      <form action="submit">
        <label for="user-name"></label>
        <input
          type="text"
          class="field-input field-input--first"
          id="user-name"
          name="Name"
          placeholder="Enter your name"
        />

        <label for="user-email"></label>
        <input
          type="email"
          class="field-input field-input--second"
          id="user-email"
          name="Email"
          placeholder="Enter email*"
        />

        <button type="submit" class="request__button">Send</button>
      </form>
    </div>
  </div>
</section>
