<section class="icon">
  <div class="container">
    <ul class="icon-list list">
      <li class="icon-item">
        <div class="icon-box">
          <svg class="icon-svg" width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-book-reader"></use>
          </svg>
        </div>
        <h2 class="icon-title">Investmant Banking</h2>
        <p class="icon-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="icon-item">
        <div class="icon-box">
          <svg class="icon-svg" width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-pencil"></use>
          </svg>
        </div>
        <h2 class="icon-title">Portfolio Manager</h2>
        <p class="icon-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
      <li class="icon-item">
        <div class="icon-box">
          <svg class="icon-svg" width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-university"></use>
          </svg>
        </div>
        <h2 class="icon-title">Tax &#38; Custudio</h2>
        <p class="icon-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur,
          necessitatibus!
        </p>
      </li>
    </ul>
  </div>
</section>
