<footer id="contact" class="footer">
  <address class="address">
    <ul class="address-list list">
      <li class="address-item">
        <a
          class="address-link"
          href="https://www.facebook.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="address-item">
        <a
          class="address-link"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="35" height="35">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="address-item">
        <a
          class="address-link"
          href="https://www.youtube.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="40" height="35">
            <use href="./images/symbol-defs.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="address-item">
        <a
          class="address-link"
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg width="31" height="35">
            <use href="./images/symbol-defs.svg#icon-linkedln"></use>
          </svg>
        </a>
      </li>
    </ul>
  </address>
  <p class="footer-text">Copyright © 2021 - FinanceLedger</p>
</footer>
