<section class="command">
 <div class="command__container">
  <picture>
    <source
      srcset="
        ./image/command/command.webp    1x,
        ./image/command/command@2x.webp 2x
      "
      media="(min-width: 1360px)"
      type="image/webp"
    />
    <source
      srcset="
        ./image/command/command.jpg        1x,
        ./image/command/command.jpg@2x.jpg 2x
      "
      media="(min-width: 1360px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./image/command/command320.webp    1x,
        ./image/command/command320@2x.webp 2x
      "
      media="(min-width:320px)"
      type="image/webp"
    />
    <source
      srcset="
        ./image/command/command320.jpg 1x,
        ./image/command/command320.jpg 2x
      "
      media="(min-width: 320px)"
      type="image/jpeg"
    />
    <source
      srcset="
        ./image/command/command768.webp    1x,
        ./image/command/command768@2x.webp 2x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./image/command/command768.jpg     1x,
        ../image/command/command768@2x.jpg 2x
      "
      media="(min-width: 768px)"
      type="image/jpeg"
    />
    <img
      class="command__img"
      src="./image/command/command.jpg"
      alt="Our command"
      width="680"
    />
  </picture>

  <div class="command__description">
    <p class="command__text-first">What you are looking for</p>
    <h2 class="command__title">We provide bespoke solutions</h2>
    <p class="command__text-second">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button" class="command__button">Read more</button>
    </div>
</div>
</section>