<section id="about" class="command__section">
  <div class="command__container">
    <img
      class="command__img"
      src="./images/command.jpg"
      alt="Our command"
      width="680"
    />
    <div class="command__content">
      <p class="command__text-first">What you are looking for</p>
      <h2 class="command__title">We provide bespoke solutions</h2>
      <p class="command__text-second">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="command__button">Read more</button>
    </div>
  </div>
</section>
