<!-- Header -->
<div class="background">
  <header class="header">
    <div class="container">
      <nav class="navigation">
        <div class="logo-wrapper">
          <!--img class="header-icon" src="./image/Vector-book1.svg" /-->
          <a class="logo-first link" href="./index.html">
            <svg class="header-icon" width="40" height="35">
              <use href="./images/symbol-defs.svg#icon-header-book-open"></use>
            </svg>
            Finance<span class="logo-second link">Ledger</span>
          </a>
        </div>
        <ul class="nav-list list">
          <li class="nav-item">
            <a class="nav-link link" href="./index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#cases">Cases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div></div>
</div>
