<section class="team">
  <div class="container">
    <p class="team-subtitle">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          class="team-img"
          width="420"
          src="./images/president.jpg"
          alt="a man in a suit near the wall"
        />
        <h3 class="team-name">John Doe</h3>
        <p class="team-position">President</p>
      </li>
      <li class="team-item">
        <div class="team-icons-thumb">
          <img
            class="team-img"
            width="420"
            src="./images/vice-president.jpg"
            alt="beautiful girl sitting on a chair"
          />
          <ul class="team-icons-list list">
            <li class="team-icon-item">
              <a href="" class="team-icon-link link">
                <svg class="team-icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-item">
              <a href="" class="team-icon-link link">
                <svg class="team-icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-item">
              <a href="" class="team-icon-link link">
                <svg class="team-icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="team-icon-item">
              <a href="" class="team-icon-link link">
                <svg class="team-icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-linkedln"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team-name">Jane Doe</h3>
        <p class="team-position">Vice President</p>
      </li>
      <li class="team-item">
        <img
          class="team-img"
          width="420"
          src="./images/marketing-head.jpg"
          alt="a man in a white shirt laughs and holds a cup of coffee"
        />
        <h3 class="team-name">Steve Smith</h3>
        <p class="team-position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
