<section class="team">
  <div class="container">
    <p class="team__subtitle">Who we are</p>
    <h2 class="team__title">Our Professional Team</h2>
    <p class="team__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team__list list">
      <li class="team__item">
        <picture>
          <source
            srcset="
              ./images/mobile/president.jpg    1x,
              ./images/mobile/president@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./images/tablet/president.jpg    1x,
              ./images/tablet/president@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="./images/president.jpg 1x, ./images/president@2x.jpg 2x"
            media="(min-width: 1200px)"
          />
          <img
            src="./images/president.jpg"
            alt="a man in a suit near the wall"
            sizes="(min-width: 768px) 33vw, 100vw"
          />
        </picture>
        <h3 class="team__name">John Doe</h3>
        <p class="team__position">President</p>
      </li>
      <li class="team__item">
        <div class="team-icons__thumb">
          <picture>
            <source
              srcset="
                ./images/mobile/vice-president.jpg    1x,
                ./images/mobile/vice-president@2x.jpg 2x
              "
              media="(max-width: 768px)"
            />
            <source
              srcset="
                ./images/tablet/vice-president.jpg    1x,
                ./images/tablet/vice-president@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./images/vice-president.jpg    1x,
                ./images/vice-president@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <img
              src="./images/vice-president.jpg"
              alt="a man in a suit near the wall"
              sizes="(min-width: 768px) 33vw, 100vw"
            />
          </picture>
          <ul class="team-icons__list list">
            <li class="team-icons__item">
              <a href="" class="team-icons__link link">
                <svg class="team-icons__icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-icons__item">
              <a href="" class="team-icons__link link">
                <svg class="team-icons__icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="team-icons__item">
              <a href="" class="team-icons__link link">
                <svg class="team-icons__icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="team-icons__item">
              <a href="" class="team-icons__link link">
                <svg class="team-icons__icon" width="35" height="35">
                  <use href="./images/symbol-defs.svg#icon-linkedln"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <h3 class="team__name">Jane Doe</h3>
        <p class="team__position">Vice President</p>
      </li>
      <li class="team__item">
        <picture>
          <source
            srcset="
              ./images/mobile/marketing-head.jpg    1x,
              ./images/mobile/marketing-head@2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <source
            srcset="
              ./images/tablet/marketing-head.jpg    1x,
              ./images/tablet/marketing-head@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./images/marketing-head.jpg    1x,
              ./images/marketing-head@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./images/marketing-head.jpg"
            alt="a man in a suit near the wall"
            sizes="(min-width: 768px) 33vw, 100vw"
          />
        </picture>
        <h3 class="team__name">Steve Smith</h3>
        <p class="team__position">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
